<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryMethod">
  <Listeners>
  <Listener name=Analyzer3.Transformer3.class>
  </Listeners>
   <test name="testing2"> 
    <classes>
      <class name="TestClass2.testing2"/>
    </classes>    
  </test> 
</suite> 
